<div class="large-container center-block">
	<h1>Artículos publicados en <%= @category.title%></h1>

	<%= render @category.articles%><!--va a user el parcial de articles ya creado debido a que es una coleccion de articulos, sin importar de donde venga-->

</div>